@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --black: #000000;
    --white: #F2F2F2;
    --roxo1: #7100F3;
    --roxo2: #8E2DFD;
    --roxo3: #C28DFF;
    --antroxo: #FFFE8C;
    --azul1: #195B73 ;
    --azul2: #2A99C2;
    --azul3: #35C0F2;
    --antazul: #F29735;
    --vermelho1: #612226;
    --vermelho2: #AD0914;
    --vermelho3: #E6505A;
    --antvermelho: #0BE040; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-header: 'Great Vibes', cursive;
    --fonte-talk:'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-talk);
    color: var(--white);
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.507);
    scroll-behavior: smooth;
}



h1{
    font:normal normal 2.5em;
}

p{
    margin-top: 20px;
}

strong{
    color: var(--antroxo);
}

.container{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

.sombra{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.493);
}

.sombratexto{
    
}

header{
        background-color: var(--roxo1);
        height: 90px;
        position: fixed;
        width: 100%;
        top: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.473);
        z-index: 1;
}

header > h1{
    font-family: var(--fonte-header);
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.479);
    text-overflow: ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

/* --------------------------------SECTION 01------------------------------ */

main{
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1{
    font-size: 40px;
}

.talk2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.Talk{
    background-color: var(--roxo2);
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.479);
}

.Talk h1{
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}

.Talk p{
    padding-top: 10px;
}

.containerTalk{
    width: 90%;
}

div.escolhas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

div.opcao{
    margin-top: 30px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(90deg, var(--roxo2) 0%, rgba(194, 141, 255, 0) 48.9%, var(--roxo2) 100%);
}


div#opcao01{
    background-color: var(--roxo2);
    width: 45%;
    box-shadow: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.479);
    transition: width 0.5s ease-out 100ms; 
    
}

div#opcao02{
    background-color: var(--roxo3);
    width: 45%;
    box-shadow: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.479);
    transition: width 0.5s ease-out 100ms; 
}

#opcao01:hover,#opcao02:hover{
    cursor: pointer;
    width: 50%;
    
}

/* --------------------------------SECTION 02------------------------------ */

section#AntesDeTudo{
    background-color: var(--roxo2);
    padding: 30px;
}

section#AntesDeTudo h1{
    text-align: center;
}

div.video{
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 57.25%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

div#EuTeAmo{
    background-color: var(--roxo3);
    width: 300px;
    margin: auto;

    margin-top: 30px;
    height: 70px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* --------------------------------SECTION 03------------------------------ */
section#OndeTudoComecou{
    background-color: var(--roxo3);
}

section#OndeTudoComecou h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

div.img{
    display: flex;
}

div > img{
    max-width: 65%;
    border-radius: 20px;
    margin: auto;
}

.videolocal{
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

section#OndeTudoComecou video{
    width: 90%;
    border-radius: 20px;
}

.catsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.cats{
    width: 800px;
    padding-bottom: 30px;
}

/* --------------------------------SECTION 04------------------------------ */

section#libraryofbabel{
    background-color: var(--roxo2);
  
    padding: 30px;
}

section#libraryofbabel > div > h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.babelBackground{
    background-color: var(--roxo3);
    margin-top: 30px;
}

#btn{
    border-radius: 10px;
    border: none;
    color: var(--white);
    background-color: var(--roxo2);
    padding: 5px;
    text-shadow: none;
    width: 45%;
}

#btn:hover{
    background-color: var(--roxo1);
    cursor: pointer;
}


#book{
    text-align: center;
}

#senhaContainer{
   display: flex;
   justify-content: center;
   width: 100%;
}
#senha{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px 0px 20px 0px;
    width: 70%;
    max-width: 400px;
    height: 50px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--roxo2);
    color: var(--black);
    text-decoration: none;
    outline: none;
    margin-top: 30px;
    color: var(--roxo2);
}

#container{
    margin-bottom: 60px;
}

#librarycode{

    text-overflow: ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
    width: 45%;    
}

.df{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    cursor: auto;
}

