@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* -------------- HEADER --------------*/

header{
  background-color: #F55A5A;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
  height: 55px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

header h1{
  font-size: 15px;
  padding-left: 3px;
}
/* -------------- GLOBAL --------------*/

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------- TRAVEL CONTAINER --------------*/

.travel--container{
  display: flex;
  width: 500px;
  padding: 10px;
}

.travel--info--container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------- TRAVEL CONTAINER IMAGE --------------*/

.travel--container--img{
  width: 125px;
  height: 168px;
  border-radius: 10px;
}

/* -------------- TRAVEL MAPS LINE --------------*/

.travel--info--maps {
display: flex;
align-items: center;
padding-right: 30px;
}

.travel--info--maps--items {
  padding-left: 5px;
}

.travel--info--maps--location{
  letter-spacing: 0.17em;
}

.travel--info--maps img{
  width: 12px;
}

.travel--info--maps h3{
  color: #2B283A;
  font-size: 10.24px;
}

.travel--info--maps a{
  color: #918E9B;
  font-size: 10.24px;
  padding-left: 10px;
}

/* -------------- TITLE --------------*/

.travel--title{
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

/* -------------- DATE --------------*/

.travel--date{
  font-size: 10.24px;
  color: #2B283A;
  margin-top: 17px;
}

/* -------------- DESCRIPTION --------------*/

.travel--description{
  font-size: 10.24px;
  color: #2B283A;
  margin-top: 7px;
}

