header{
    text-align: center;
    color: white;
}

body{
    background-color: rgb(158, 158, 158);
    font: normal 15pt Verdana;
}
section{
margin: auto;
text-align: center;
background-color: azure;
width: 500px;
border-radius: 10px;
font-family: verdana;
box-shadow: 2px 2px 10px black;
padding: 15px;
}

div{
    padding: 5px;
}

footer{
    text-align: center;
    
    color: white;
    padding: 10px;
    font-style: italic;
}