.carousel--container{
   position: relative;
   padding: 15px;
   max-width: 100%;
   margin: 0 auto;
}

.carousel--wrapper{
    overflow-x: auto;
}

.carousel--gallery{ 
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.carousel--item{}

.carousel--current--item{}