body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 500px;
}

caption{
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}

td,th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

/* Cada um é aplicado individualmente no gif abaixo */

.cnome{
    background-color: lightgreen;
}

.csexo{
    background-color: red;
}

.cidade{
    background-color: gray;
}

.cprof{
    background-color: aqua;
}