body{
background-color: rgb(6, 114, 114);
font: normal 15pt Arial;
}
header{
color: azure;
text-align: center;
}
section{
background: azure;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}
footer{
    color: azure;
    text-align: center;
    font-style: italic;
}

div#vms {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

div#content{
    padding: 5px;
}