body{
    background: bisque;
    font-family: verdana;
}
header{
    text-align: center;
}
section{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

#p0{
    margin-left: -110px;
}